template(name="navbar")
  nav(class="navbar navbar-inverse")
        div(class="container")
          div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
              span(class="sr-only")  Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")

            a(class="navbar-brand" href="#")  SplatIt

          div(id="navbar" class="collapse navbar-collapse")
            ul(class="nav navbar-nav")
              li(class="")
                a(href="{{pathFor 'home'}}")  Home
              li
                a(href="{{pathFor 'products'}}")  Products
              li
                a(href="{{pathFor 'add_product'}}")  Add Product

